* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 100, 99);
    position: absolute;
    left: 35%;
}

.calcul {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 20%;
    background-color: whitesmoke;
    width: max-content;
    border-radius: 5px;
}

.calcul input[type="text"] {
    padding: 0.3rem;
    outline: none;
    min-width: 80%;
    height: 2rem;
}

.calcul .calc {
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.calcul .calc .btn {
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 0.3rem;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;

}

.calcul .calc .btn:hover {
    background-color: rgb(34, 32, 32);
    color: whitesmoke;
}

#btn {
    visibility: hidden;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px,8px;
    font-size: 25px;
}

#add, #div, #sub, #mul {
    background-color: rgb(236, 252, 96);
}

#equal {
    background-color: rgb(109, 255, 121);
}

#clear, #backOne {
    background-color: rgb(132, 132, 253);
}

#show {
    background: rgb(236, 236, 253);
    width: 20rem;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    font-weight: 400;
    margin-top: 1rem;
    border-radius: 5px;
}